.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*D3 tip code from http://bl.ocks.org/Caged/6476579 .
    Feel free to fiddle with this.*/
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.processor {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.task {
    stroke-width: 1px;
    stroke: none;
}

text {
    font-family: Sans-serif;
}

/* http://stackoverflow.com/questions/5523735/how-to-make-a-radio-button-look-like-a-toggle-button */
#histadjust {
    margin: 2px;
    float:left;
}

#histadjust label {
    float:left;
    width:100px;
    margin:2px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#histadjust label span {
    text-align:center;
    font-size: 24px;
    padding:13px 0px;
    display:block;
}

#histadjust label input {
    position:absolute;
    top:-20px;
}

#histadjust input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

#histadjust .count {
    background-color:#00BFFF;
    color:#333;
}

#histadjust .time {
    background-color:#A3D900;
    color:#333;
}